<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./include/head') %>

      <style>
      #aemissor {
        color: #fff;
      }
    </style>
    <title>Emissor de NFe - Emissor</title>
  </head>
  <body>
    <%- include('./include/header') %>

    <main>
      <div id="emissor" class="row">
        <div>
          <div class="col-md-12">
            <h3 class="informacoes-cliente">Informações do Cliente</h3>
            <hr />
          </div>
          <fieldset class="form-group">
            <div>
              <input
                type="radio"
                id="pf"
                value="pf"
                name="tipo_cliente"
                checked
              />
              <label for="pf">Pessoa Física</label>
            </div>

            <div>
              <input type="radio" id="pj" value="pj" name="tipo_cliente" />
              <label for="pj">Pessoa Jurídica</label>
            </div>

            <div>
              <div class="row row--no-margin">
                <div class="col-md-3">
                  <label class="field-label"
                    >Nome Completo<span class="field-required">*</span></label
                  >
                  <div
                  >
                    <input
                      type="text"
                      name="cliente_nome_completo"
                      class="form-control"
                      autocomplete="off"
                      value=""
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <label class="field-label"
                    >CPF / CNPJ<span class="field-required">*</span></label
                  ><input
                    type="text"
                    name="cliente_cpf"
                    placeholder="___.___.___-__"
                    class="form-control"
                    value=""
                  />
                </div>
                <div class="col-md-3">
                  <label class="field-label"
                    >Inscrição estadual (I.E)
                    <i
                    ></i></label
                  ><input
                    type="text"
                    name="cliente_ie"
                    class="form-control"
                    value=""
                  />
                </div>
                <div class="col-md-3">
                  <label class="field-label">Consumidor Final</label
                  ><select name="consumidor_final" class="form-control">
                    <option value="">---</option>
                    <option value="0">Não</option>
                    <option value="1">Sim</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <label class="field-label"
                    >CEP<span class="field-required">*</span></label
                  ><input
                    type="text"
                    name="cliente_cep"
                    placeholder="_____-___"
                    class="form-control"
                    value=""
                  />
                </div>
                <div class="col-md-5">
                  <label class="field-label"
                    >Endereço <span class="field-required">*</span></label
                  ><input
                    type="text"
                    name="cliente_endereco"
                    class="form-control"
                    value=""
                  />
                </div>
                <div class="col-md-2">
                  <label class="field-label"
                    >Número <span class="field-required">*</span></label
                  ><input
                    type="text"
                    name="cliente_numero"
                    class="form-control"
                    value=""
                  />
                </div>
                <div class="col-md-3">
                  <label class="field-label">Complemento </label
                  ><input
                    type="text"
                    name="cliente_complemento"
                    class="form-control"
                    value=""
                  />
                </div>
                <div class="col-md-4">
                  <label class="field-label"
                    >Bairro <span class="field-required">*</span></label
                  ><input
                    type="text"
                    name="cliente_bairro"
                    class="form-control"
                    value=""
                  />
                </div>
                <div class="col-md-5">
                  <label class="field-label"
                    >Cidade <span class="field-required">*</span></label
                  ><input
                    type="text"
                    name="cliente_cidade"
                    class="form-control"
                    value=""
                  />
                </div>
                <div class="col-md-3">
                  <label class="field-label"
                    >Estado <span class="field-required">*</span></label>
                    <select name="cliente_uf" class="form-control">
                    <% states.forEach(states => { %>
                    <option value="<%= states.uf %>"><%= states.name %></option>
                    <% }) %>
                    </select>
                </div>
                <div class="col-md-6">
                  <label class="field-label">E-mail</label
                  ><input
                    type="text"
                    name="cliente_email"
                    class="form-control"
                    value=""
                  />
                </div>
                <div class="col-md-6">
                  <label class="field-label">Telefone</label
                  ><input
                    type="text"
                    name="cliente_telefone"
                    placeholder="(__) ____-____"
                    class="form-control"
                    value=""
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="produtos">
          <h3 class="informacoes-produto">Informações dos Produtos</h3>
        </div>
        <hr />
        <div class="products-table">
          <table class="table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Unidade</th>
                <th>Qtd</th>
                <th>Valor</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody id="ptbody">
              <tr>
                <td>
                  <input type="text" placeholder="Nome" />
                </td>
                <td>
                  <input type="text" placeholder="UN" />
                </td>
                <td>
                  <input type="number" placeholder="0" />
                </td>
                <td>
                  <span>R$</span>
                  <input type="number" onchange="updateTotal()" />
                </td>
                <td>
                  <span>R$</span>
                  <input type="number" />
                </td>
              </tr>
              <tfoot>
                <button type="submit" id="addproduct" onclick="addProduct('ptbody')">Adicionar Produto</button>
                <button type="submit" id="removeproduct" onclick="removeProduct('ptbody')">Remover Produto</button>
              </tfoot>
            </tbody>
            
          </table>
        </div>

        <div>
          <div class="col-md-12">
            <h3 class="informacoes-produto">
              <a>Informações de Transporte</a>
            </h3>
            <hr />
          </div>
          <fieldset>
            <div class="row">
              <div class="col-md-6">
                <label>Modalidade do frete </label>
                <select name="modalidade_frete" class="form-control">
                  <% modalidades.forEach(modalidades => { %>
                  <option value="<%= modalidades.value %>">
                    <%= modalidades.name %>
                  </option>
                  <% }) %>
                </select>
              </div>
              <div class="col-md-6">
                <label class="field-label">Forma de envio </label
                ><select name="forma_envio" class="form-control">
                  <% fretes.forEach(fretes => { %>
                  <option value="<%= fretes.value %>">
                    <%= fretes.name %>
                  </option>
                  <% }) %>
                </select>
              </div>
              <div class="col-md-12" style="margin-bottom: 0px"></div>
              <div class="col-md-3">
                <label class="field-label"
                  >Total frete<span class="field-required">* </span></label
                >
                <div class="input-group">
                  <span>R$</span
                  ><input
                    type="text"
                    name="total_frete"
                    class="form-control"
                    value="0,00"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <label class="field-label">Qtd. Volumes</label
                ><input
                  type="text"
                  name="qtd_volumes"
                  class="form-control"
                  value=""
                />
              </div>
              <div class="col-md-3">
                <label class="field-label">Peso bruto</label>
                <div class="input-group">
                  <input
                    type="text"
                    name="peso_bruto"
                    class="form-control"
                    value=""
                  /><span>KG</span>
                </div>
              </div>
              <div class="col-md-3">
                <label class="field-label">Peso líquido</label>
                <div class="input-group">
                  <input
                    type="text"
                    name="peso_liquido"
                    class="form-control"
                    value=""
                  /><span>KG</span>
                </div>
              </div>
              <div class="col-md-3">
                <label class="field-label">Espécie </label
                ><input
                  type="text"
                  name="especie"
                  class="form-control"
                  value=""
                />
              </div>
              <div class="col-md-3">
                <label class="field-label">Marca </label
                ><input
                  type="text"
                  name="marca"
                  class="form-control"
                  value=""
                />
              </div>
              <div class="col-md-3">
                <label class="field-label">Numeração </label
                ><input
                  type="text"
                  name="numeracao"
                  class="form-control"
                  value=""
                />
              </div>
              <div class="col-md-3">
                <label class="field-label">Número dos lacres </label
                ><input
                  type="text"
                  name="lacres"
                  class="form-control"
                  value=""
                />
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </main>

    
    <%- include('./include/footer') %>
    
  </body>
</html>
